<div class="input-group">
  <input type="text" name="url" placeholder="Song URL" class="form-control">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Submit</button>
  </span>
  </div>
</div>
