<progress value="0" max="100" class="hidden"></progress>
<div class="controls">
  <i class="fa fa-backward hidden"></i>
  <i class="fa fa-play"></i>
  <i class="fa fa-forward hidden"></i>
</div>
<div id='yt-widget'></div>
<iframe id='sc-widget' src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=false"></iframe'>
