<h3><a href="/">Jamms</a></h3>

<div class="input-group">
  <input type="text" name="url" placeholder="Song URL" class="form-control">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Submit</button>
  </span>
  </div>
</div>

<h4>Genres</h4>
<ul class="genres">
<li><a href="/#/">All</a>
{{#genres}}
<li><a href="/#/genres/{{this}}">{{this}}</a></li>
{{/genres}}
</ul>
