module.exports = {
  web : {
    host : "0.0.0.0",
    port : 4000
  },
  mongo : {
    host : "localhost",
    port : 27017,
    db : "jamdb",
    coll : "songs"
  }, 
  soundcloud : {
    client_id : ""
  },
  google : {
    api_key : ""
  }
};
